# Port for the backend Express server
PORT=3000

# Secret key for JWT token signatures to secure user sessions and passwords
JWT_SECRET=AI_Api_Key

# Mode for Express and Vite (development or production)
NODE_ENV=development
